/* GENERAL */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#0d0d0d;
  color:#fff;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  position:fixed;
  top:0;
  width:100%;
  background:#0f0f0f;
  border-bottom:1px solid #202020;
  z-index:10;
}

.logo{
  font-size:24px;
  font-weight:700;
  color:#00c8ff;
}

nav a{
  margin-left:20px;
  color:#ccc;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#00c8ff;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 50px;
  gap:50px;
}

.hero-text h2{
  font-size:40px;
}

.hero-text h2 span{
  color:#00c8ff;
}

.hero-text h3{
  font-size:22px;
  margin-bottom:15px;
  opacity:0.8;
}

.hero-text p{
  width:80%;
  margin-bottom:20px;
  line-height:1.6;
}

.btn{
  display:inline-block;
  background:#00c8ff;
  color:#000;
  padding:12px 30px;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

.btn:hover{
  background:#009ec5;
}

.hero-img img{
  width:300px;
  border-radius:20px;
  box-shadow:0 0 20px #00c8ff55;
}

/* SECTIONS */
.section{
  padding:100px 50px;
  text-align:center;
}

.section-title{
  font-size:32px;
  margin-bottom:20px;
  color:#00c8ff;
}

.text{
  max-width:700px;
  margin:auto;
  font-size:18px;
  opacity:0.8;
  line-height:1.7;
}

/* SKILLS */
.skills-box{
  margin-top:40px;
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  justify-content:center;
}

.skill{
  background:#111;
  padding:12px 25px;
  border-radius:30px;
  border:1px solid #00c8ff55;
}

/* PROJECTS */
.projects-container{
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.project-card{
  background:#111;
  padding:30px;
  width:280px;
  border-radius:20px;
  border:1px solid #1f1f1f;
  transition:0.3s;
}

.project-card:hover{
  transform:translateY(-5px);
  border-color:#00c8ff;
}

.project-btn{
  display:inline-block;
  margin-top:10px;
  padding:8px 20px;
  background:#00c8ff;
  color:#000;
  border-radius:20px;
  text-decoration:none;
  transition:0.3s;
}

.project-btn:hover{
  background:#009ec5;
}

/* CONTACT */
.contact-box{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:20px;
}

.contact-box a{
  color:#00c8ff;
  text-decoration:none;
  font-size:18px;
}

/* FOOTER */
footer{
  padding:30px 0;
  text-align:center;
  background:#0f0f0f;
  margin-top:50px;
}
