*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0b0016;
  color:white;
}

/* Navbar */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:#140022;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.logo{
  color:#a855f7;
}

/* Hero */
.hero{
  height:90vh;
  background:linear-gradient(135deg,#3b0764,#0b0016);
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero h2{
  font-size:60px;
  color:#d8b4fe;
}

.hero p{
  margin:20px 0;
  font-size:20px;
}

.hero button{
  padding:12px 30px;
  background:#9333ea;
  border:none;
  color:white;
  font-size:18px;
  border-radius:30px;
  cursor:pointer;
}

.hero button:hover{
  background:#7e22ce;
}

/* Games */
.games{
  padding:60px;
  text-align:center;
}

.games h3{
  font-size:40px;
  margin-bottom:40px;
}

.games-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.cards{ background:#1f0138;
   border-radius:15px;
    padding:15px;
     transition:0.3s;
      opacity:1;
       transform:translateY(0px);
       }



.card:hover{
  transform:translateY(-10px);
}

.card img{
  width:100%;
  border-radius:10px;
}

.card h4{
  margin:15px 0;
}

.card button{
  background:#a855f7;
  border:none;
  padding:8px 20px;
  color:white;
  border-radius:20px;
  cursor:pointer;
}

/* Footer */
footer{
  background:#140022;
  padding:20px;
  text-align:center;
  margin-top:50px;
}
